body { 
    background-color: rgb(255, 255, 255);
}

.container {
    position: relative;
}

#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 198, 198, 0.742);
    color: white;
    font-family: monospace;
    padding: 1em;
  }

#glcanvas {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 1024px;
    height: 768px;
    background-color: black;
}
